body {
  width: 100%;
  height: 100vh;
  perspective: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Homer Simpson Revised', sans-serif;
  background-image: url('images/simpsons-background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#headImage {
  max-width: 700px;
  height: auto;
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

.front {
  background: url('images/homer-birthday.png') no-repeat center;
  background-size: cover;
}

.card {
  transform-style: preserve-3d;
  position: relative;
  height: 300px;
  width: 240px;
  cursor: pointer;
}

.front, .back, .page {
  transform-style: preserve-3d;
  transform-origin: left center;
  transition: transform .5s ease-in-out, box-shadow .5s ease-in-out;
  position: absolute;
  width: 180px;
  height: 100%;
  top: 0; 
  left: 0;
  background-color: #F7F7F7;
  padding: 60px;
}

.card:hover .front {
  transform: rotateY(-160deg);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.card:hover .page {
  transform: rotateY(-159deg);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.card:hover .back {
  transform: rotateY(-20deg);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.message, h5, p {
  overflow: hidden;
  word-wrap: break-word;
  max-width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  color: #ffd90f;
}

button {
  position: absolute;
  left: 45%;
  bottom: 15%;
  padding: 5px 10px;
  display: inline-block;
  width: auto;
  font-family: 'Homer Simpson Revised', sans-serif;
  font-size: 20px;
  border-radius: 8px;
}